.searchbar {
    position:relative;
    width:500px;
    margin:20px 10px;
}

.searchbox{
    position:relative;
    width:80%;
}
.searchbtn{
    position:relative;
    width:15%;
    margin-left:5px;
}

.view_game{
    position:relative;
    width:90%;
}

.gridview{
    position:relative;
    margin-left:10px;
    width:80%;
}
#gamename{
    position:relative;
}
#gameout{
    position:relative;
    padding:20px 0;
}
.info{
    margin:10px;
}
.infoBox{
    margin:10px 0;
}

.submit{
    position:relative;
    margin:10px;
    top: 0px;
    left: 0px;
}