.view_game{
    position:relative;
    width:90%;
}

.gridview{
    position:relative;
}
#gamename{
    position:relative;
}
#gameout{
    position:relative;
    padding:20px 0;
}
.game_table{
    margin:10px 0;
    left:0;
}
.info{
    margin:0;
    width:100%;
}
.infoBox{
    margin:5px 0;
    width:90%;
}

.submit{
    position:relative;
    margin:10px;
    top: 0px;
    left: 0px;
}