html{
    font-size:12px;
    background-color:#aaa;
    display:block;
    height:100%;
    min-width:980px;
}

body {
    display:block;
    color:#2d2d2d;
    font-family:Arial, Arial, Helvetica, sans-serif;
    margin:0;
    text-align:center;
    height:100%;
}
form{
    height:100%;
}
header{    
    position:relative;
    display:block;
    height:155px;
    width:100%;
    background:#3f3f3f;
    text-align:left;  
}
li{
    display:list-item;
}
h1{
    margin:0;
    padding:0;
    font-weight:bold;
}

a{
    color:#4487db;
    font-weight:bold;
    text-decoration:none;
}

.show_username{
    position:relative;
    width:100%;
    margin:0 auto;
    height:20px;
    background-color:#2d2d2d;
}
.show_username ul{
    width:75%;
    margin:0 auto;
    padding:0;
    color:#fff;
    text-align:right;
    height:20px;
}
.show_username li{
    position:relative;
    top:5px;
    display:inline-block;
    list-style-type:none;
}

.bcitlogo {
    position:relative;
    padding:0;
    width:75%;
    height:100px;
    margin:0 auto;
}
.toplogo {
    position:absolute;
    top:15px;
    left:30px;
    width:110px;
    height:110px;
    z-index:199;
}
.sysname{
    position:relative;
    float:left;
    top:60px;
    left:150px;
    width:75%;
    margin:0;
}
.sysfont{
    font-family:'Oswald','HelveticaNeue-CondensedBold','Helvetica Neue',Helvetica,sans-serif;
    font-size:36px;
    color:#fff;
    line-height:1;
    text-rendering:optimizeLegibility;
    text-shadow:0 -2px 0 rgba(0, 0, 0, 0.03);
}

.rshift_navbar{
    position:relative;
    padding:0;
    margin:0 auto;
    height:35px;
    width:100%;
    background-color:#000;
}

.navbar{
    position:relative;
    width:75%;
    margin:0 auto;
    height:35px;
    text-align:right;

}
.navbar ul{
    height:35px;
    margin:0;
    padding:0;
}
.navbar li{
    display:inline;
    text-align:center;
    margin:0;
    height:35px;
}

.navbar a{
    padding:7px 3.5%;
    font-family:'Microsoft YaHei', 'Arial Narrow Bold', sans-serif;
    font-size:medium;
    color:#ccc;
    line-height:2.2;
    text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
.navbar a:hover {
    display:inline;
    padding:7px 3.5%;
    font-family:'Microsoft YaHei', 'Arial Narrow Bold', sans-serif;
    font-size:medium;
    font-style:italic;
    line-height:2.2;
    text-shadow:0 -1px 0 rgba(0,0,0,0.3);
    color:#fff;
    background-color:#918e87;
}
.active{
    background-color:#fff;
}
.current{
    display:inline;
    padding:7px 3.5%;
    font-family:'Microsoft YaHei', 'Arial Narrow Bold', sans-serif;
    font-size:medium;
    font-style:italic;
    line-height:2.2;
    text-shadow:0 -1px 0 rgba(0,0,0,0.3);
    color:#fff !important;
    background-color:#918e87;
}
.banner{
    position:relative;
    margin:0 auto;
    width:75%;
    background-color:#918e87;
    text-align:left;
    font-family:'Oswald','HelveticaNeue-CondensedBold','Helvetica Neue',Helvetica,sans-serif;
    font-size:18px;
    color:#fff;
    line-height:1;
    text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}

.banner h1{
    font-size:28px;
    line-height:1.5;
    margin:0 0 0 30%;
}

.content{
    position:relative;
    width:75%;
    height:100%;
    margin:auto;
    text-align:left;
    background-color:#fff;
}

aside{
    position:relative;
    float:left;
    overflow:visible;
    width:25%;
    height:100%;
    padding:0;
    background-color:#aaa;
    text-align:center;
}

.menu{
    position:relative;
    float:left;
    background-color:#dcdcdc;
}

.menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

.menu li{
    height:40px;
    padding:5px 0;
    border-bottom:1px solid #fff;
}

.menu a{
    color:#025ea1;
    font-weight:bold;
    font-size: 20px;
    padding: 8px 0;
    line-height:2.1;
}
.menu li:hover{
    background-color:#fff;
    height:40px;
    padding:5px 0;
    border-bottom:1px solid #fff;
}

.primary{
    position:relative;
    float:right;
    width:75%;
    background-color:#fff;
    outline:0;
    padding:0;
    top: 0;
    left: 0;
}
.main{
    position:relative;
    margin:30px 0 0 5%;
}
.searchbar {
    position:relative;
    width:80%;
}
.searchbox{
    position:relative;
    width:75%;
}
.searchbtn{
    position:relative;
    width:80px;
    margin-left:5px;
}
.result{
    position:relative;
    margin:20px 0;
    width:80%;
}
footer{
    width:100%;
    height:80px;
    margin:0 auto;
    position:fixed;
    bottom:0;
    color:#2d2d2d;
    font-size:12px;
    background-color:#808080;
}
.required{
    color:red;
}
.copyright{
    padding:10px;
    font-weight:bold;
}